canvas{
 
position: fixed;
  top: 0;
  left: 0;
  z-index: -1;

}

.index{
    z-index: 1;
    opacity: 80%;
}

.cute-grad{
  background: linear-gradient(132deg, rgb(34, 181, 254) 0.00%, rgb(255, 186, 214) 100.00%);
  z-index: 1;
}

.img-resize{
  max-width: 200px;
  max-height: 200px;
}

.small-box
{
  width: 75%;
  margin-left:auto;
  margin-right:auto;
}

.med-box
{
  width: 85%;
  margin-left:auto;
  margin-right:auto;
}